// libs
@import compass/reset.scss
// @import cerulean/variables
@import bootstrap.scss
// @import cerulean/bootswatch
@import compass
@import recipes
// @import bootstrap-responsive.scss
//
header, article, footer
    display: block

//fonts
body
    color: #333333
h4
    font-size: 15px
h5
    font-size: 15px
// colors
$red: #dd3007
$blue: #2868e2
$gray: #999999
$black: #000000
$light-gray: #f1f1f1
$font: #272727
$font-a: #002153
$borderColor: #000000
.black
    color: $black
.gray
    color: $gray
.font
    color: $font
.light-gray
    color: $light-gray
.red
    color: $red
    &:hover
        color: $red
.contacts
    text-align: center
    margin-top: 32px
    margin-right: 13px
.white-box
    background-color: #fff
    +box-shadow(0 0 6px lighten($gray, 20%))
    // behavior: url(PIE.htc)
.gradient-box
    +gradient-vertical(#fff, $light-gray)
    // -pie-background: linear-gradient(#fff, $light-gray)
    // behavior: url(PIE.htc)
    display: inline-block
.cute_short
    padding-top: 15px
.cute
    padding: 15px
.cute_aside
    padding-left: 15px
    padding-right: 15px
    padding-top: 10px
.cute_top
    padding-left: 15px
    padding-right: 15px
    padding-top: 45px
    width: 671px !important
.bottom-line
    border-bottom: 1px solid $light-gray
    width: 100%
.banner
    width: 211px
    margin-left: 16px
    padding-bottom: 15px
    padding-top: 15px
.inline-box
    display: inline-table

.color-line
    +gradient-horizontal($red, $blue)
    -pie-background: linear-gradient($red, $blue)
    behavior: url(PIE.htc)
    height: 4px
    // width: 960px
    margin-left: -20px
.big-red-button
    // color: #fff
    // +border-radius(40px)
    // +gradient-vertical(#da1b01, #c93000)
    // +background( linear-gradient(#c92f00 0%,#cb3604 3%,#c73502 11%,#c73903 21%,#c53600 24%,#c63702 26%,#c43400 29%,#c63402 34%,#c32e00 37%,#c83203 39%,#c32c00 42%,#c72e02 45%,#c52a00 47%,#c92500 61%,#d22401 68%,#ce2100 71%,#d42201 74%,#d31e00 79%,#d92002 82%,#d41c00 84%,#db1e01 87%,#d71b00 89%,#d71900 100%) )
    // text-shadow: 0px -1px 0px #772001
    // padding: 12px 37px
    // font-size: 17px
    // border: 1px solid $light-gray
    margin-left: 34%
    margin-top: 12px
    display: block
    // &:hover
    //     +gradient-vertical(#c93000, #da1b01)
.tabs
    position: relative
    top: 1px
    .active
        color: $black
        font-weight: bold
        background: #fff !important
        &:hover
            color: $black
        
.tab-button
    +border-radius(15px 92px 0px 0px)
    border: 1px solid $light-gray
    border-top: 2px solid #fff
    border-bottom: 0px solid transparent
    padding: 6px 26px
    color: #fff
    margin-right: -15px
    display: inline-block
    text-decoration: none
    &:hover
        color: #fff

#avia-tickets
    // +gradient-vertical(#fbaaa8, #c20e00)
    background-color: #c20e00
    +background( linear-gradient(#fcb5b3 0%,#faa09f 7%,#ea3a2d 33%,#e52317 40%,#e21504 47%,#ce0e01 50%,#c00e00 53%,#c80e00 70%,#de1100 100%) )
    z-index: 3 !important
    position: absolute
    -pie-background: linear-gradient(#fbaaa8, #c20e00)
    behavior: url(PIE.htc)
#rail-tickets
    // +gradient-vertical(#b4e0ff, #25bcf4)
    background-color: #25bcf4
    +background( linear-gradient(#bae1fe 0%,#9fdbff 13%,#60c8ff 40%,#56c4ff 47%,#33bffa 50%,#26bdf6 53%,#25baf4 63%,#29b8f4 70%,#29b5f0 73%,#2db4ee 80%,#32afef 87%,#3ab1f3 100%) )
    z-index: 2 !important
    position: absolute
    left: 120px
    -pie-background: linear-gradient(#b4e0ff, #25bcf4)
    behavior: url(PIE.htc)
#hot-tours
    // +gradient-vertical(#a7f8b0, #22cd32)
    background-color: #22cd32
    +background( linear-gradient(#aff9b8 0%,#93f49d 10%,#59e867 27%,#3ae149 37%,#22db33 47%,#1fd030 50%,#22cd32 53%,#24ce34 60%,#31dd41 100%) )
    margin-left: 232px
    -pie-background: linear-gradient(#a7f8b0, #22cd32)
    behavior: url(PIE.htc)
//bootrtrap colors hover for ie
// tipographica
.center
    text-align: center
.big
    font-size: 1.35em
.small
    font-size: 0.85em
// global
html
    // min-height: 100%
body
    color: $font
    background-color: $light-gray
footer
    margin-top: 30px
    ul
        list-style: none
#partners
    h5
        margin-left: 27px
    ul
        margin: 9px 0
        li
            float: left
            margin-left: 5px
            vertical-align: bottom
            a
                text-decoration: none
                img
                    vertical-align: top
                &:hover
                    color: $red
.transform
    +transform(scaleX(0.3))
    behavior: url(PIE.htc)
    font-size: 45px
    margin-top: 4px
    &:hover
        text-decoration: none
        color: $red
#sotial
    h5
        margin-left: 27px
    #twitter
        background: url("../img/footer_icons/twit_active.png") no-repeat
        background: url("../img/footer_icons/twit.png") no-repeat
        height: 41px
        width: 41px
        display: block
        float: left
        &:hover
            background: url("../img/footer_icons/twit_active.png") no-repeat
    #facebook
        background: url("../img/footer_icons/f_book_active.png") no-repeat
        background: url("../img/footer_icons/f_book.png") no-repeat
        height: 41px
        width: 41px
        display: block
        float: left
        &:hover
            background: url("../img/footer_icons/f_book_active.png") no-repeat
    #google
        background: url("../img/footer_icons/google_active.png") no-repeat
        background: url("../img/footer_icons/google.png") no-repeat
        height: 41px
        width: 41px
        display: block
        float: left
        &:hover
            background: url("../img/footer_icons/google_active.png") no-repeat
    #vk
        background: url("../img/footer_icons/vk_aktive.png") no-repeat
        background: url("../img/footer_icons/vk.png") no-repeat
        height: 41px
        width: 41px
        display: block
        float: left
        &:hover
            background: url("../img/footer_icons/vk_aktive.png") no-repeat


.margin-top
    margin-top: 30px
.margin-bottom
    margin-bottom: 30px
form
    margin: -17px 0px 0px 0
    input
        border: 1px solid $black !important
        &:focus
            +box-shadow(1px 1px 1px 1px $light-gray !important)
    input[type=checkbox]
        border: 0px black!important
    select
        border: 1px solid $black !important
        margin-bottom: 0 !important
        &:focus
            border: 1px solid $red !important
            color: $red
.help-block
    font-size: 10px
    margin-top: 0
.checkbox
    margin-left: 12px
#name
    label
        margin-right: 7px
        margin-top: 5px
        color: $black
label
    vertical-align: middle


a
    text-decoration: underline
    color: $font-a
    &:hover
        text-decoration: none
        color: $font-a
// partials

.header
    padding-top: 10px
    padding-bottom: 5px
    h1
        font-size: 35px
        margin-top: 9px

#blog
    img
        margin-top: 12px
        margin-bottom: 12px
    h4
        padding: 5px 15px
#contacts
    margin-top: 2px
    p
        line-height: 10px
    a
        line-height: 10px
        vertical-align: top

#logo
    width: 74px
#banner-box-2
    margin-top: 30px
input.three_in_row
    width: 164px
.three_in_row
    width: 174px
.margin_three_in_row
    margin-right: 80px
.six_in_row
    width: 80px
.margin_six_in_row
    margin-right: 36px

// color


