<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <title>ООО "Восточно-Сибирский СТЦ"</title>
        <link rel="stylesheet" href="css/screen.css" />
        <link rel="stylesheet" href="css/blitzer/jquery-ui-1.8.21.custom.css" />
    </head>
    <body>
        <!--[if IE]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <header>
            <div class="color-line row"></div>
            <div class="container">
                <div class="span12">
                    <div class="row">
                        <div class="white-box gradient-box header">
                            <div class="span2 clearfix">
                                <a href="#"><img id="logo" src="img/logo.png" alt=""/></a>
                            </div>
                            <div class="span7 offset1 margin-top">
                                <h1 class="red"><%= @title %></h1>
                            </div>
                            <div class="span2">
                                <div class="contacts">
                                    <span>8(3022) <span class="red big">39-89-59</span>
                                    <span>8(3022) <span class="red big">35-73-44</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <article id="<%= @id %>">
            <div class="container">
                <div class="span12">
                    <%= yield %>
                </div>
            </div>
        </article>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="span3" id="contacts">
                        <p class="gray">Copyright 2012 </p>
                        <a href="#" class="red">ООО “Восточно - Сибирские СТУ”</a>
                        <p class="black">г. Чита, ул. Журавлева 54</p>
                        <p class="black">Тел.: (3022) 397-897, 398-359</p>
                        <p class="black">E-mail: vssto@mail.ru</p>
                    </div>
                    <div class="span3">
                        <ul>
                            <li><a href="#" class="red">Пассажиру</a></li>
                            <li><a href="#" class="red">Туристу</a></li>
                            <li><a href="#" class="red">Корпорату</a></li>
                            <li><a href="#" class="red">Инвестору</a></li>
                        </ul>
                    </div>
                    <div class="span3">
                        <div id="partners">
                            <h5>Партнеры:</h5>
                            <ul>
                                <li class="transform" id="prev"><</li>
                                <li><a href="#"><img src="img/footer_icons/partners1.png"></a></li>
                                <li><a href="#"><img src="img/footer_icons/partners2.png"></a></li>
                                <li><a href="#"><img src="img/footer_icons/partners3.png"></a></li>
                                <li class="transform" id="next">></li>
                            </ul>
                        </div>
                    </div>
                    <div class="span3">
                        <div id="sotial">
                            <h5>Мы в:</h5>
                            <ul>
                                <li><a href="#" id="twitter"></a></li>
                                <li><a href="#" id="facebook"></a></li>
                                <li><a href="#" id="google"></a></li>
                                <li><a href="#" id="vk"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> -->
    <script src="js/jquery-1.7.2.min.js"></script>
    <script src="js/jquery.carousel.js"></script>
    <script src="js/jquery-ui-1.8.21.custom.min.js"></script>
    <script src="js/jquery.site.js"></script>
</html>