<% @id = "page_home" %>
<% @title = "АВИА КАССЫ в Чите" %>


<div class="row margin-top">
    <div class="span3" id="blog">
        <div class="row">
            <div class="white-box">
                <h4>НОВОСТИ</h4>
            </div>
            <div class="white-box cute">
                <div class="bottom-line margin-bottom">
                    <h5>ПОДАРКИ от TEZ TOUR</h5>
                    <img src="img/blog_img.png" alt="">
                    <p>Когда из храма с шумом выбегают мужчины в костюмах демонов и смешиваются с толпой, комбинированный тур традиционен. Кристаллический фундамент абсурдно берёт глубокий Бенгальский залив, а в вечернее время в кабаре Алказар или кабаре Тифани можно увидеть красочное представление. Растительный покров притягивает живописный музей под открытым небом, при этом к шесту прикрепляют ярко раскрашенных бумажных или матерчатых карпов, по </p>
                    <span class="small gray">27 октября 2012</span>
                </div>
                <div class="bottom-line">
                    <h5>ПОДАРКИ от TEZ TOUR</h5>
                    <img src="img/blog_img.png" alt="">
                    <p>Когда из храма с шумом выбегают мужчины в костюмах демонов и смешиваются с толпой, комбинированный тур традиционен. Кристаллический фундамент абсурдно берёт глубокий Бенгальский залив, а в вечернее время в кабаре Алказар или кабаре Тифани можно увидеть красочное представление. Растительный покров притягивает живописный музей под открытым небом, при этом к шесту прикрепляют ярко раскрашенных бумажных или матерчатых карпов, по </p>
                    <span class="small gray">27 октября 2012</span>
                </div>
            </div>
        </div>
    </div>
    <div class="span9"> 
        <div class="white-box">
            <a href="#"><img class="banner" src="img/banner1.jpg"/></a>
            <a href="#"><img class="banner" src="img/banner2.png"/></a>
            <a href="#"><img class="banner" src="img/banner1.jpg"/></a>
        </div>
        <div class="tabs margin-top">
            <a class="tab-button active" id="avia-tickets" href="index.html">Авиа билеты</a>
            <a class="tab-button" id="rail-tickets" href="rails.html">ЖД Билеты</a>
            <a class="tab-button" id="hot-tours" href="tours.html">Горящие туры</a>
        </div>
        <div class="white-box">
            <div class="cute">
                <h5 class="black">Рассчитать стоимость полета просто!</h5>
                <span class="small gray"><span class="red">* </span>Отправьте запрос и получите ответ любым удобным  Вам способом</span>
            </div>
            <form>
                <div class="cute_aside">
                    <div>
                        <div class="pull-left margin_three_in_row">
                            <select name="from" class="three_in_row" id="select01" placeholder="ОТКУДА">
                                <option></option>
                                <option>Новосибирск</option>
                                <option>Самара</option>
                                <option>Алма-аты</option>
                                <option>London</option>
                            </select>
                            <p class="help-block">Например: <a class="red" href="#">Самара</a>, <a class="red" href="#">Новосибирск</a></p>
                        </div>
                        <div class="pull-left">
                            <select name="to" class="pull-right three_in_row" id="select03">
                                <option>КУДА</option>
                                <option>Новосибирск</option>
                                <option>Самара</option>
                                <option>Алма-аты</option>
                                <option>London</option>
                            </select>
                            <div class="clearfix"></div>
                            <p class="help-block">Например: <a class="red" href="#">Самара</a>, <a class="red" href="#">Новосибирск</a></p>
                        </div>
                        <div class="pull-right">
                            <input type="text" name="date" class="pull-right three_in_row datepicker" placeholder="КОГДА"/>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="cute_aside bottom-line">
                    <label class="checkbox">
                        <input id="go_back_truth" name="go-back" type="checkbox"> Нужны билеты обратно? Поставьте галочку
                    </label>
                </div>
                <div id="go_back" class="hide cute_aside">
                    <div class="pull-left margin_three_in_row">
                        <select name="go_back_from" class="three_in_row" id="select01" placeholder="ОТКУДА">
                            <option></option>
                            <option>Новосибирск</option>
                            <option>Самара</option>
                            <option>Алма-аты</option>
                            <option>London</option>
                        </select>
                        <p class="help-block">Например: <a class="red" href="#">Самара</a>, <a class="red" href="#">Новосибирск</a></p>
                    </div>
                    <div class="pull-left">
                        <select name="go_back_to" class="pull-right three_in_row" id="select03">
                            <option>КУДА</option>
                            <option>Новосибирск</option>
                            <option>Самара</option>
                            <option>Алма-аты</option>
                            <option>London</option>
                        </select>
                        <div class="clearfix"></div>
                        <p class="help-block">Например: <a class="red" href="#">Самара</a>, <a class="red" href="#">Новосибирск</a></p>
                    </div>
                    <div class="pull-right">
                        <input type="text" name="go_back_date" class="pull-right three_in_row datepicker" placeholder="КОГДА"/>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div class="cute_top bottom-line">
                    <div class="pull-left">
                        <select name="count" class="six_in_row margin_six_in_row" id="select03">
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                        <p class="black help-block">Сколько человек</p>
                    </div>
                    <div class="pull-left">
                        <select name="up_to_2years" class="six_in_row margin_six_in_row" id="select03">
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                        <p class="black help-block">До 2-х лет</p>
                    </div>
                    <div class="pull-left">
                        <select name="up_to_11years_from_2years" class="six_in_row margin_six_in_row" id="select03">
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                        <p class="black help-block">От 2-х до 11 лет</p>
                    </div>
                    <div class="pull-left">
                        <select name="up_to_22years_from_12years" class="six_in_row margin_six_in_row" id="select03">
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                        <p class="black help-block">От 12 до 22 лет</p>
                    </div>
                    <div class="pull-left">
                        <select name="adults" class="six_in_row margin_six_in_row" id="select03">
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                        <p class="black help-block">Взрослых</p>
                    </div>
                    <div class="pull-right">
                        <select name="more_than_60" class="six_in_row" id="select03">
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                        <div class="clearfix"></div>
                        <p class="black help-block">Старше 60 лет</p>
                    </div>
                    <div class="clearfix"></div>
                    
                </div>
                <div class="cute">
                    <h5 class="black">Сообщите мне о лучшей цене</h5>
                    <div class="pull-left margin_six_in_row">
                        <input name="phone" type="text" class="span2" id="" placeholder="ПО ТЕЛЕФОНУ">
                        <p class="help-block">Например 8-960-436-19-32</p>
                    </div>
                    <div class="pull-left margin_six_in_row">
                        <input name="e-mail" type="text" class="span2" id="" placeholder="ПО E-MAIL">
                        <p class="help-block">Например taras@mail.ru</p>
                    </div>
                    <div class="pull-right" id="name">
                        <label class="pull-left" for="">ВАШЕ ИМЯ:</label>
                        <input name="name" class="span2" type="text"></input>
                    </div>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
        <a id="btn-send" class="big-red-button" href="#"><img src="img/button_1.png"/></a>
        <!-- <button class="btn big-red-button">УЗНАТЬ ТАРИФЫ</button> -->
        <div class="white-box" id="banner-box-2">
            <a href="#"><img class="banner" src="img/banner1.jpg"/></a>
            <a href="#"><img class="banner" src="img/banner2.png"/></a>
            <a href="#"><img class="banner" src="img/banner1.jpg"/></a>    
        </div>
    </div>
</div>
<div class="row margin-top">
    <div class="span12"><div class="color-line margin-top"></div></div>
</div>


