<% @id = "page_tours" %>
<% @title = "ЗАКАЗ ТУРА в Чите" %>


<div class="row margin-top">
    <div class="span3" id="blog">
        <div class="row">
            <div class="white-box">
                <h4>НОВОСТИ</h4>
            </div>
            <div class="white-box cute">
                <div class="bottom-line margin-bottom">
                    <h5>ПОДАРКИ от TEZ TOUR</h5>
                    <img src="img/blog_img.png" alt="">
                    <p>Когда из храма с шумом выбегают мужчины в костюмах демонов и смешиваются с толпой, комбинированный тур традиционен. Кристаллический фундамент абсурдно берёт глубокий Бенгальский залив, а в вечернее время в кабаре Алказар или кабаре Тифани можно увидеть красочное представление. Растительный покров притягивает живописный музей под открытым небом, при этом к шесту прикрепляют ярко раскрашенных бумажных или матерчатых карпов, по </p>
                    <span class="small gray">27 октября 2012</span>
                </div>
                <div class="bottom-line">
                    <h5>ПОДАРКИ от TEZ TOUR</h5>
                    <img src="img/blog_img.png" alt="">
                    <p>Когда из храма с шумом выбегают мужчины в костюмах демонов и смешиваются с толпой, комбинированный тур традиционен. Кристаллический фундамент абсурдно берёт глубокий Бенгальский залив, а в вечернее время в кабаре Алказар или кабаре Тифани можно увидеть красочное представление. Растительный покров притягивает живописный музей под открытым небом, при этом к шесту прикрепляют ярко раскрашенных бумажных или матерчатых карпов, по </p>
                    <span class="small gray">27 октября 2012</span>
                </div>
            </div>
        </div>
    </div>
    <div class="span9"> 
        <div class="white-box">
            <a href="#"><img class="banner" src="img/banner1.jpg"/></a>
            <a href="#"><img class="banner" src="img/banner2.png"/></a>
            <a href="#"><img class="banner" src="img/banner1.jpg"/></a>
        </div>
        <div class="tabs margin-top">
            <a class="tab-button" id="avia-tickets" href="index.html">Авиа билеты</a>
            <a class="tab-button" id="rail-tickets" href="rails.html">ЖД Билеты</a>
            <a class="tab-button active" id="hot-tours" href="tours.html">Горящие туры</a>
        </div>
        <div class="white-box cute_short">
            <form>
                <div class="cute_top">
                    <div class="pull-left margin_three_in_row">
                        <h5 class="black">Страна</h5>
                        <select name="country" class="three_in_row" id="select01">
                            <option>Италия</option>
                            <option>Испания</option>
                            <option>Лапландия</option>
                            <option>Карамелия</option>
                        </select>
                        <p class="help-block">Например: <a class="red" href="#">Италия</a></p>
                    </div>
                    <div class="pull-left">
                        <h5 class="black">Город / курорт</h5>
                        <select name="city_place" class="pull-left three_in_row" id="select02">
                            <option>Милан</option>
                            <option>Анталия</option>
                            <option>Ливерпуль</option>
                        </select>
                        <div class="clearfix"></div>
                        <p class="help-block">Например: <a class="red" href="#">Милан</a></p>
                    </div>
                    <div class="pull-right">
                        <h5 class="black">Отель звезд</h5>
                        <select name="hotel_stars" class="pull-right three_in_row" id="select03">
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="cute">
                    <div class="pull-left margin_three_in_row">
                        <h5 class="black">Дата заезда</h5>
                        <input name="date" type="text" class="pull-right three_in_row datepicker"/>
                    </div>
                    <div class="pull-left">
                        <h5 class="black">Количество дней</h5>
                        <select name="count_days" class="pull-left three_in_row" id="select02">
                            <option></option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="pull-right">
                        <h5 class="black">Вылет из</h5>
                        <select name="fly_from" class="pull-right three_in_row" id="select03">
                            <option></option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        <div class="clearfix"></div>
                        <p class="help-block">Например: <a class="red" href="#">Милан</a></p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="bottom-line"></div>
                <div class="clearfix"></div>
                <div class="cute bottom-line">
                    <div class="pull-left">
                        <select name="count_peoples" class="six_in_row margin_six_in_row" id="select03">
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                        <p class="black help-block">Сколько человек</p>
                    </div>
                    <div class="pull-left">
                        <select name="adults" class="six_in_row margin_six_in_row" id="select03">
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                        <p class="black help-block">Взрослых</p>
                    </div>
                    <div class="pull-left">
                        <select name="childrens" class="six_in_row margin_six_in_row" id="select03">
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                        <p class="black help-block">Детей</p>
                    </div>
                    <div class="pull-left">
                        <select name="to_2_ears" class="six_in_row margin_six_in_row" id="select03">
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                        <p class="black help-block">До 2-х лет</p>
                    </div>
                    <div class="clearfix"></div>
                    
                </div>
                <div class="cute">
                    <h5 class="black">Сообщите мне:</h5>
                    <div class="pull-left margin_six_in_row">
                        <input name="phone" type="text" class="span2" id="" placeholder="ПО ТЕЛЕФОНУ">
                        <p class="help-block">Например 8-960-436-19-32</p>
                    </div>
                    <div class="pull-left margin_six_in_row">
                        <input name="e-mail" type="text" class="span2" id="" placeholder="ПО E-MAIL">
                        <p class="help-block">Например taras@mail.ru</p>
                    </div>
                    <div class="pull-right" id="name">
                        <label class="pull-left" for="">ВАШЕ ИМЯ:</label>
                        <input name="name"class="span2" type="text"></input>
                    </div>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
        <a id="btn-send" class="big-red-button" href="#"><img src="img/button_2.png"/></a>
        <!-- <button class="btn big-red-button">РАССЧИТАТЬ</button> -->
        <div class="white-box" id="banner-box-2">
            <a href="#"><img class="banner" src="img/banner1.jpg"/></a>
            <a href="#"><img class="banner" src="img/banner2.png"/></a>
            <a href="#"><img class="banner" src="img/banner1.jpg"/></a>    
        </div>
    </div>
</div>
<div class="row margin-top">
    <div class="span12"><div class="color-line margin-top"></div></div>
</div>


